{% extends "base.html" %}
{% block titulo %}Author Single{% endblock %}
{% block conteudo %}
    <div class="author">
        <div class="container">
            <div class="row no-gutters justify-content-center">
                <div class="col-lg-3 col-md-4 mb-4 mb-md-0">
                    
                <img class="author-image" src="{{ author_single.foto }}">
                  
                </div>
                <div class="col-md-8 col-lg-6 text-center text-md-left">
                    <h3 class="mb-2">{{ author_single.nome }}</h2>
                        <strong class="mb-2 d-block">Author &amp; developer of Bexer, Biztrox theme</strong>
                        <div class="content">
                            <p>Donec nisi dolor, consequat vel pretium id, auctor in dui. Nam iaculis, neque ac ullamcorper.</p>

                        </div>
                        
                        <a class="post-count mb-1" href="author-single.html#post"><i class="ti-pencil-alt mr-2"></i><span
                                class="text-primary">2</span> Posts by this author</a>
                        <ul class="list-inline social-icons">
                            
                            <li class="list-inline-item"><a href="#"><i class="ti-facebook"></i></a></li>
                            
                            <li class="list-inline-item"><a href="#"><i class="ti-twitter-alt"></i></a></li>
                            
                            <li class="list-inline-item"><a href="#"><i class="ti-github"></i></a></li>
                            
                            <li class="list-inline-item"><a href="#"><i class="ti-link"></i></a></li>
                            
                        </ul>
                </div>
            </div>
        </div>
        
        <svg class="author-border" height="240" viewBox="0 0 2202 240" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
        d="M1 123.043C67.2858 167.865 259.022 257.325 549.762 188.784C764.181 125.427 967.75 112.601 1200.42 169.707C1347.76 205.869 1901.91 374.562 2201 1"
        stroke-width="2" />
    </svg>
    </div>

    <section class="section-sm" id="post">
        <div class="container">
            <div class="row">
                
                <div class="col-lg-8 mx-auto">
                    <article class="card mb-4">
                        
                        <div class="post-slider">
                            <img src="{{ url_for('static', filename='img/post/post-7.jpg') }}" class="card-img-top" alt="post-thumb">
                        </div>
                        
                        <div class="card-body">
                            <h3 class="mb-3"><a class="post-title" href="post-details.html">Advice From a Twenty Something</a></h3>
                            <ul class="card-meta list-inline">
                                <li class="list-inline-item">
                                    <a href="{{ url_for('author_single') }}" class="card-meta-author">
                                        <img src="{{ url_for('static', filename='img/john-doe.jpg') }}">
                                        <span>Charls Xaviar</span>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <i class="ti-timer"></i>2 Min To Read
                                </li>
                                <li class="list-inline-item">
                                    <i class="ti-calendar"></i>14 jan, 2020
                                </li>
                                <li class="list-inline-item">
                                    <ul class="card-meta-tag list-inline">
                                        <li class="list-inline-item"><a href="tags.html">Color</a></li>
                                        <li class="list-inline-item"><a href="tags.html">Recipe</a></li>
                                        <li class="list-inline-item"><a href="tags.html">Fish</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <p>It’s no secret that the digital industry is booming. From exciting startups to global brands, companies are reaching out to digital agencies, responding to the new possibilities available.</p>
                            <a href="post-details.html" class="btn btn-outline-primary">Ler mais</a>
                        </div>
                    </article>
                </div>
                
                <div class="col-lg-8 mx-auto">
                    <article class="card mb-4">
                        <div class="post-slider">
                            <img src="{{ url_for('static', filename='img/post/post-1.jpg') }}" class="card-img-top" alt="post-thumb">
                        </div>
                        <div class="card-body">
                            <h3 class="mb-3"><a class="post-title" href="post/post-1/">Use apples to give your bakes caramel and a moist texture</a></h3>
                            <ul class="card-meta list-inline">
                                <li class="list-inline-item">
                                    <a href="{{ url_for('author_single') }}" class="card-meta-author">
                                        <img src="{{ url_for('static', filename='img/john-doe.jpg') }}">
                                        <span>Charls Xaviar</span>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <i class="ti-timer"></i>2 Min To Read
                                </li>
                                <li class="list-inline-item">
                                    <i class="ti-calendar"></i>14 jan, 2020
                                </li>
                                <li class="list-inline-item">
                                    <ul class="card-meta-tag list-inline">
                                        <li class="list-inline-item"><a href="tags.html">Color</a></li>
                                        <li class="list-inline-item"><a href="tags.html">Recipe</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <p>It’s no secret that the digital industry is booming. From exciting startups to global brands, companies are reaching out to digital agencies, responding to the new possibilities available.</p>
                            <a href="post/post-1/" class="btn btn-outline-primary">Ler mais</a>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
{% endblock %}