{% extends "base.html" %}
{% block titulo %}Contact{% endblock %}
{% block conteudo %}
<div class="header text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 mx-auto">
        <h1 class=" gradiente_corh1 mb-4">Login</h1>
        <ul class="list-inline">
          <li class="list-inline-item"><a class="text-default" href="">Sign Up
              &nbsp; &nbsp; /</a></li>
          <li class="list-inline-item text-primary">Sign In</li>
        </ul>
      </div>
    </div>
  </div>
  


  

    <defs>
      <filter id="filter0_d" x="0.905273" y="0" width="37.8663" height="38.1979" filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
        <feOffset dy="4" />
        <feGaussianBlur stdDeviation="2" />
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
      </filter>
    </defs>
  </svg>

  
  

  
  <svg class="header-border" height="240" viewBox="0 0 2202 240" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M1 123.043C67.2858 167.865 259.022 257.325 549.762 188.784C764.181 125.427 967.75 112.601 1200.42 169.707C1347.76 205.869 1901.91 374.562 2201 1"
      stroke-width="2" />
  </svg>
</div>

<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        
        <div class="content mb-5">
          <h2 id="we-would-love-to-hear-from-you">Nos fale um pouco sobre você&hellip;.</h2>
          <p>Faça o seu cadastro abaixo.</p>
        </div>
        
        <form method="GET" action="{{url_for ('registrado')}}">
          <div class="form-group">
            <label for="name">Seu nome (obrigatório)</label>
            <input type="text" name="name" id="name" class="form-control" placeholder="Digite aqui" required>
          </div>
          <div class="form-group">
            <label for="email">Seu endereço de email escolar(obrigatório)</label>
            <input type="email" name="email" id="email" class="form-control" placeholder="Exemplo: aluno@escolar.ifrn.edu.br" required>
          </div>
          <div class="form-group">
            <label for="email">Matrícula</label>
            <input type="text" inputmode="numeric" pattern="[0-9]*" name="matricula" id="matricula" class="form-control" placeholder="Digite aqui">
          </div>
          <div class="form-group">
            <label for="message">Crie sua senha</label>
            <input type="password" name="message" id="message" class="form-control" minlength="8" placeholder="Mínimo 8 dígitos..."></input>
          </div>
          <button type="submit" class="btn btn-primary">Registrar</button>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}