{% extends "base.html" %}
{% block titulo %}Página Incial{% endblock %}
{% block conteudo %}
<div class="banner text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 mx-auto">
        <h1 class="gradiente_corh1 mb-5">Há algo de errado <br> acontecendo?</h1> <!-- OBS: Não usar ID quando for colocar 
        mais de um elemento definido, e sim CLASSE, já que os elementos podem ter várias classes e podemos retuilizá-las, 
        como nesse caso que temos duas classes (a classe mais pra esquerda sobrepõe as outras, não há necessidade de usar ID 
        e de forma errada!! Nesse caso só não muda independente de onde estiver a classe porque mb-5 não foi definido lá)-->
      </div>
    </div>
  </div>
  
  <svg class="banner-border" height="240" viewBox="0 0 2202 240" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M1 123.043C67.2858 167.865 259.022 257.325 549.762 188.784C764.181 125.427 967.75 112.601 1200.42 169.707C1347.76 205.869 1901.91 374.562 2201 1"
      stroke-width="2" />
  </svg>
</div>
<!-- end of banner -->
<section class="section pb-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 mb-5">
        <h2 class="h5 section-title">Escolha dos editores</h2>
        <article class="card">
          <div class="post-slider slider-sm">
            <img src="{{ url_for('static', filename='img/post/post-1.jpg') }}" class="card-img-top" alt="post-thumb">
          </div>
          
          <div class="card-body">
            <h3 class="h4 mb-3"><a class="post-title" href="post-details.html">Denuncie o que ocorre no ifrn</a></h3>
            <ul class="card-meta list-inline">
              <li class="list-inline-item">
                <a href="{{ url_for('author_single') }}" class="card-meta-author">
                  <img src="{{ url_for('static', filename='img/john-doe.jpg') }}">
                  <span>Alysson Daniel</span>
                </a>
              </li>
              <li class="list-inline-item">
                <i class="ti-timer"></i>2 Min To Read
              </li>
              <li class="list-inline-item">
                <i class="ti-calendar"></i>29 set, 2025
              </li>
              <li class="list-inline-item">
                <ul class="card-meta-tag list-inline">
                  <li class="list-inline-item"><a href="{{ url_for ('tags') }}">limpeza</a></li>
                  <li class="list-inline-item"><a href="{{ url_for ('tags') }}">estrutura</a></li>
                  <li class="list-inline-item"><a href="{{ url_for ('tags') }}">porta</a></li>
                </ul>
              </li>
            </ul>
            <p>It’s no secret that the digital industry is booming. From exciting startups to …</p>
            <a href="post-details.html" class="btn btn-outline-primary">Ler mais</a>
          </div>
        </article>
      </div>
      <div class="col-lg-4 mb-5">
        <h2 class="h5 section-title">Posts mais votados</h2>
        
        <article class="card mb-4">
          <div class="card-body d-flex">
            <img class="card-img-sm" src="{{ url_for('static', filename='img/post/post-3.jpg') }}">
            <div class="ml-3">
              <h4><a href="post-details.html" class="post-title">Advice From a Twenty Something</a></h4>
              <ul class="card-meta list-inline mb-0">
                <li class="list-inline-item mb-0">
                  <i class="ti-calendar"></i>14 jan, 2020
                </li>
                <li class="list-inline-item mb-0">
                  <i class="ti-timer"></i>2 Min To Read
                </li>
              </ul>
            </div>
          </div>
        </article>
        
        <article class="card mb-4">
          <div class="card-body d-flex">
            <img class="card-img-sm" src="{{ url_for('static', filename='img/post/post-2.jpg') }}">
            <div class="ml-3">
              <h4><a href="post-details.html" class="post-title">The Design Files - Homes Minimalist</a></h4>
              <ul class="card-meta list-inline mb-0">
                <li class="list-inline-item mb-0">
                  <i class="ti-calendar"></i>14 jan, 2020
                </li>
                <li class="list-inline-item mb-0">
                  <i class="ti-timer"></i>2 Min To Read
                </li>
              </ul>
            </div>
          </div>
        </article>
        
        <article class="card mb-4">
          <div class="card-body d-flex">
            <img class="card-img-sm" src="{{ url_for('static', filename='img/post/post-4.jpg') }}">
            <div class="ml-3">
              <h4><a href="post-details.html" class="post-title">The Skinny Confidential</a></h4>
              <ul class="card-meta list-inline mb-0">
                <li class="list-inline-item mb-0">
                  <i class="ti-calendar"></i>14 jan, 2020
                </li>
                <li class="list-inline-item mb-0">
                  <i class="ti-timer"></i>2 Min To Read
                </li>
              </ul>
            </div>
          </div>
        </article>
      </div>
      
      <div class="col-lg-4 mb-5">
        <h2 class="h5 section-title">Posts populares</h2>
        
        <article class="card">
          <div class="post-slider slider-sm">
            <img src="{{ url_for('static', filename='img/post/post-5.jpg') }}" class="card-img-top" alt="post-thumb">
          </div>
          <div class="card-body">
            <h3 class="h4 mb-3"><a class="post-title" href="post-details.html">How To Make Cupcakes and Cashmere Recipe At Home</a></h3>
            <ul class="card-meta list-inline">
              <li class="list-inline-item">
                <a href="author-single.html" class="card-meta-author">
                  <img src="{{ url_for('static', filename='img/kate-stone.jpg') }}" alt="Kate Stone">
                  <span>Kate Stone</span>
                </a>
              </li>
              <li class="list-inline-item">
                <i class="ti-timer"></i>2 Min To Read
              </li>
              <li class="list-inline-item">
                <i class="ti-calendar"></i>14 jan, 2020
              </li>
              <li class="list-inline-item">
                <ul class="card-meta-tag list-inline">
                  <li class="list-inline-item"><a href="{{ url_for ('tags') }}">City</a></li>
                  <li class="list-inline-item"><a href="{{ url_for ('tags') }}">Food</a></li>
                  <li class="list-inline-item"><a href="{{ url_for ('tags') }}">Taste</a></li>
                </ul>
              </li>
            </ul>
            <p>It’s no secret that the digital industry is booming. From exciting startups to …</p>
            <a href="post-details.html" class="btn btn-outline-primary">Ler mais</a>
          </div>
        </article>
      </div>
      <div class="col-12">
        <div class="border-bottom border-default"></div>
      </div>
    </div>
  </div>
</section>

<section class="section-sm">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8  mb-5 mb-lg-0">
  <h2 class="h5 section-title">Posts recentes</h2>
  <article class="card mb-4">
  <div class="post-slider">
      <img src="{{ url_for('static', filename='img/post/post-10.jpg') }}" class="card-img-top" alt="post-thumb">
      <img src="{{ url_for('static', filename='img/post/post-1.jpg') }}" class="card-img-top" alt="post-thumb">
  </div>
  <div class="card-body">
      <h3 class="mb-3"><a class="post-title" href="post-elements.html">Elements That You Can Use In This Template.</a></h3>
      <ul class="card-meta list-inline">
      <li class="list-inline-item">
          <a href="author-single.html" class="card-meta-author">
          <img src="{{ url_for('static', filename='img/john-doe.jpg') }}" alt="John Doe">
          <span>John Doe</span>
          </a>
      </li>
      <li class="list-inline-item">
          <i class="ti-timer"></i>3 Min To Read
      </li>
      <li class="list-inline-item">
          <i class="ti-calendar"></i>15 jan, 2020
      </li>
      <li class="list-inline-item">
          <ul class="card-meta-tag list-inline">
          <li class="list-inline-item"><a href="{{ url_for ('tags') }}">Demo</a></li>
          <li class="list-inline-item"><a href="{{ url_for ('tags') }}">Elements</a></li>
          </ul>
      </li>
      </ul>
      <p>Heading example Here is example of hedings. You can use this heading by following markdownify rules. For example: use # for heading 1 and use ###### for heading 6.</p>
      <a href="post-elements.html" class="btn btn-outline-primary">Ler mais</a>
  </div>
  </article>

  <article class="card mb-4">
  <div class="post-slider">
      <img src="{{ url_for('static', filename='img/post/post-3.jpg') }}" class="card-img-top" alt="post-thumb">
  </div>
  <div class="card-body">
      <h3 class="mb-3"><a class="post-title" href="post-details.html">Advice From a Twenty Something</a></h3>
      <ul class="card-meta list-inline">
      <li class="list-inline-item">
          <a href="author-single.html" class="card-meta-author">
          <img src="{{ url_for('static', filename='img/john-doe.jpg') }}">
          <span>Mark Dinn</span>
          </a>
      </li>
      <li class="list-inline-item">
          <i class="ti-timer"></i>2 Min To Read
      </li>
      <li class="list-inline-item">
          <i class="ti-calendar"></i>14 jan, 2020
      </li>
      <li class="list-inline-item">
          <ul class="card-meta-tag list-inline">
          <li class="list-inline-item"><a href="{{ url_for ('tags') }}">Decorate</a></li>
          <li class="list-inline-item"><a href="{{ url_for ('tags') }}">Creative</a></li>
          </ul>
      </li>
      </ul>
      <p>It’s no secret that the digital industry is booming. From exciting startups to global brands, companies are reaching out to digital agencies, responding to the new possibilities available.</p>
      <a href="post-details.html" class="btn btn-outline-primary">Ler mais</a>
  </div>
  </article>

  <article class="card mb-4">
  <div class="post-slider">
      <img src="{{ url_for('static', filename='img/post/post-7.jpg') }}" class="card-img-top" alt="post-thumb">
  </div>
  
  <div class="card-body">
      <h3 class="mb-3"><a class="post-title" href="post-details.html">Advice From a Twenty Something</a></h3>
      <ul class="card-meta list-inline">
      <li class="list-inline-item">
          <a href="author-single.html" class="card-meta-author">
          <img src="{{ url_for('static', filename='img/john-doe.jpg') }}">
          <span>Charls Xaviar</span>
          </a>
      </li>
      <li class="list-inline-item">
          <i class="ti-timer"></i>2 Min To Read
      </li>
      <li class="list-inline-item">
          <i class="ti-calendar"></i>14 jan, 2020
      </li>
      <li class="list-inline-item">
          <ul class="card-meta-tag list-inline">
          <li class="list-inline-item"><a href="{{ url_for ('tags') }}">Color</a></li>
          <li class="list-inline-item"><a href="{{ url_for ('tags') }}">Recipe</a></li>
          <li class="list-inline-item"><a href="{{ url_for ('tags') }}">Fish</a></li>
          </ul>
      </li>
      </ul>
      <p>It’s no secret that the digital industry is booming. From exciting startups to global brands, companies are reaching out to digital agencies, responding to the new possibilities available.</p>
      <a href="post-details.html" class="btn btn-outline-primary">Ler mais</a>
  </div>
  </article>
  
  <article class="card mb-4">
  <div class="card-body">
      <h3 class="mb-3"><a class="post-title" href="post-details.html">Cheerful Loving Couple Bakers Drinking Coffee</a></h3>
      <ul class="card-meta list-inline">
      <li class="list-inline-item">
          <a href="author-single.html" class="card-meta-author">
          <img src="{{ url_for('static', filename='img/kate-stone.jpg') }}" alt="Kate Stone">
          <span>Kate Stone</span>
          </a>
      </li>
      <li class="list-inline-item">
          <i class="ti-timer"></i>2 Min To Read
      </li>
      <li class="list-inline-item">
          <i class="ti-calendar"></i>14 jan, 2020
      </li>
      <li class="list-inline-item">
          <ul class="card-meta-tag list-inline">
          <li class="list-inline-item"><a href="{{ url_for ('tags') }}">Wow</a></li>
          <li class="list-inline-item"><a href="{{ url_for ('tags') }}">Tasty</a></li>
          </ul>
      </li>
      </ul>
      <p>It’s no secret that the digital industry is booming. From exciting startups to global brands, companies are reaching out to digital agencies, responding to the new possibilities available.</p>
      <a href="post-details.html" class="btn btn-outline-primary">Ler mais</a>
  </div>
  </article>
  
  <article class="card mb-4">
  <div class="post-slider">
      <img src="{{ url_for('static', filename='img/post/post-5.jpg') }}" class="card-img-top" alt="post-thumb">
  </div>
  <div class="card-body">
      <h3 class="mb-3"><a class="post-title" href="post-details.html">How To Make Cupcakes and Cashmere Recipe At Home</a></h3>
      <ul class="card-meta list-inline">
      <li class="list-inline-item">
          <a href="author-single.html" class="card-meta-author">
          <img src="{{ url_for('static', filename='img/kate-stone.jpg') }}" alt="Kate Stone">
          <span>Kate Stone</span>
          </a>
      </li>
      <li class="list-inline-item">
          <i class="ti-timer"></i>2 Min To Read
      </li>
      <li class="list-inline-item">
          <i class="ti-calendar"></i>14 jan, 2020
      </li>
      <li class="list-inline-item">
          <ul class="card-meta-tag list-inline">
          <li class="list-inline-item"><a href="{{ url_for ('tags') }}">City</a></li>
          <li class="list-inline-item"><a href="{{ url_for ('tags') }}">Food</a></li>
          <li class="list-inline-item"><a href="{{ url_for ('tags') }}">Taste</a></li>
          </ul>
      </li>
      </ul>
      <p>It’s no secret that the digital industry is booming. From exciting startups to global brands, companies are reaching out to digital agencies, responding to the new possibilities available.</p>
      <a href="post-details.html" class="btn btn-outline-primary">Ler mais</a>
  </div>
  </article>
  
  <article class="card mb-4">
  <div class="post-slider">
      <img src="{{ url_for('static', filename='img/post/post-8.jpg') }}" class="card-img-top" alt="post-thumb">
      <img src="{{ url_for('static', filename='img/post/post-9.jpg') }}" class="card-img-top" alt="post-thumb">
  </div>
  <div class="card-body">
      <h3 class="mb-3"><a class="post-title" href="post-details.html">How To Make Cupcakes and Cashmere Recipe At Home</a></h3>
      <ul class="card-meta list-inline">
      <li class="list-inline-item">
          <a href="author-single.html" class="card-meta-author">
          <img src="{{ url_for('static', filename='img/john-doe.jpg') }}" alt="John Doe">
          <span>John Doe</span>
          </a>
      </li>
      <li class="list-inline-item">
          <i class="ti-timer"></i>2 Min To Read
      </li>
      <li class="list-inline-item">
          <i class="ti-calendar"></i>14 jan, 2020
      </li>
      <li class="list-inline-item">
          <ul class="card-meta-tag list-inline">
          <li class="list-inline-item"><a href="{{ url_for ('tags') }}">Color</a></li>
          <li class="list-inline-item"><a href="{{ url_for ('tags') }}">Recipe</a></li>
          <li class="list-inline-item"><a href="{{ url_for ('tags') }}">Fish</a></li>
          </ul>
      </li>
      </ul>
      <p>It’s no secret that the digital industry is booming. From exciting startups to global brands, companies are reaching out to digital agencies, responding to the new possibilities available.</p>
      <a href="post-details.html" class="btn btn-outline-primary">Ler mais</a>
  </div>
  </article>
  
  <ul class="pagination justify-content-center">
    <li class="page-item page-item active ">
        <a href="#!" class="page-link">1</a>
    </li>
    <li class="page-item">
        <a href="#!" class="page-link">2</a>
    </li>
    <li class="page-item">
        <a href="#!" class="page-link">&raquo;</a>
    </li>
  </ul>
</div>
    </div>
  </div>
</section>
{% endblock %}