{% extends "base.html" %}
{% block titulo %}Post Details{% endblock %}
{% block conteudo %}
<div class="py-4"></div>
<section class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class=" col-lg-9   mb-5 mb-lg-0">
        <article>
          <div class="post-slider mb-4">
            <img src="{{ url_for('static', filename='img/post/post-2.jpg') }}" class="card-img" alt="post-thumb">
          </div>
          
          <h1 class="h2">mictorio do banheiro do anexo quebrado </h1>
          <ul class="card-meta my-3 list-inline">
            <li class="list-inline-item">
              <a href="{{ url_for ('author_single')}}" class="card-meta-author">
                <img src="{{ url_for('static', filename='img/john-doe.jpg') }}">
                <span>Charls Xaviar</span>
              </a>
            </li>
            <li class="list-inline-item">
              <i class="ti-timer"></i>2 Min To Read
            </li>
            <li class="list-inline-item">
              <i class="ti-calendar"></i>14 jan, 2020
            </li>
            <li class="list-inline-item">
              <ul class="card-meta-tag list-inline">
                <li class="list-inline-item"><a href="tags.html">tag</a></li>
                <li class="list-inline-item"><a href="tags.html">tag</a></li>
                <li class="list-inline-item"><a href="tags.html">tag</a></li>
              </ul>
            </li>
          </ul>
          <div class="content"><p>texto insira algo sobre o if</p>
          <p>texto para simular algo estoy sem ideia</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus quis optio delectus, quod repudiandae nesciunt mollitia nostrum aliquid commodi neque quaerat dicta? Minus, cumque iusto obcaecati cupiditate animi eos. Dolores.</p>
          <p>sim sim lorem ipsum</p>
          </div>
        </article>
        
      </div>

      <div class="col-lg-9 col-md-12">
          <div class="mb-5 border-top mt-4 pt-5">
              <h3 class="mb-4">Comentarios</h3>

              <div class="media d-block d-sm-flex mb-4 pb-4">
                  <a class="d-inline-block mr-2 mb-3 mb-md-0" href="#">
                      <img src="{{ url_for('static', filename='img/post/user-01.jpg') }}" class="mr-3 rounded-circle" alt="">
                  </a>
                  <div class="media-body">
                      <a href="#!" class="h4 d-inline-block mb-3">aluno do if</a>

                      <p>segunda vez que esse mictorio ta quebrado</p>
                      
                      <span class="text-black-800 mr-3 font-weight-600">05 de setembro, 2025</span>
                      <a class="text-primary font-weight-600" href="#!">Responder</a>
                  </div>
              </div>
              <div class="media d-block d-sm-flex">
                  <div class="d-inline-block mr-2 mb-3 mb-md-0" href="#">
                      <img class="mr-3" src="{{ url_for('static', filename='img/post/arrow.png') }}" alt="">
                      <a href="#!"><img src="{{ url_for('static', filename='img/post/user-02.jpg') }}" class="mr-3 rounded-circle" alt=""></a>
                  </div>
                  <div class="media-body">
                      <a href="#!" class="h4 d-inline-block mb-3">Kauã Ângelo</a>

                      <p>Os responsaveis precisam tomar alguma providencia</p>

                      <span class="text-black-800 mr-3 font-weight-600">05 de setembro, 2025</span>
                      <a class="text-primary font-weight-600" href="#!">Responder</a>
                  </div>
              </div>
          </div>

          <div>
              <h3 class="mb-4">Leave a Reply</h3>
              <form method="POST">
                  <div class="row">
                      <div class="form-group col-md-12">
                          <textarea class="form-control shadow-none" name="comment" rows="7" required></textarea>
                      </div>
                  </div>
                  <button class="btn btn-primary" type="submit">Comment Now</button>
              </form>
          </div>
      </div>
      
    </div>
  </div>
</section>
{% endblock %}
