{% extends "base.html" %}
{% block titulo %}Termos e Condições{% endblock %}

{% block conteudo %}
    <div class="header text-center">
    <div class="container">
        <div class="row">
        <div class="col-lg-9 mx-auto">
            <h1 class="gradiente_corh1 mb-4">Our Terms And Conditions</h1>
            <ul class="list-inline">
            <li class="list-inline-item"><a class="text-default" href="">Home
                &nbsp; &nbsp; /</a></li>
            <li class="list-inline-item text-primary">Our Terms And Conditions</li>
            </ul>
        </div>
        </div>
    </div>
    
    <svg class="header-border" height="240" viewBox="0 0 2202 240" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
        d="M1 123.043C67.2858 167.865 259.022 257.325 549.762 188.784C764.181 125.427 967.75 112.601 1200.42 169.707C1347.76 205.869 1901.91 374.562 2201 1"
        stroke-width="2" />
    </svg>
    </div>


    <section class="section-sm">
    <div class="container">
        <div class="row">
        <div class="col-lg-10 mx-auto">
            <div class="content">
            <h4 id="responsibility-of-contributors">Responsibility of Contributors</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Purus, donec nunc eros, ullamcorper id feugiat quisque aliquam sagittis. Sem turpis sed viverra massa gravida pharetra. Non dui dolor potenti eu dignissim fusce. Ultrices amet, in curabitur a arcu a lectus morbi id. Iaculis erat sagittis in tortor cursus. Molestie urna eu tortor, erat scelerisque eget. Nunc hendrerit sed interdum lacus. Lorem quis viverra sed</p>
            <p>pretium, aliquam sit. Praesent elementum magna amet, tincidunt eros, nibh in leo. Malesuada purus, lacus, at aliquam suspendisse tempus. Quis tempus amet, velit nascetur sollicitudin. At sollicitudin eget amet in. Eu velit nascetur sollicitudin erhdfvssfvrgss eget viverra nec elementum. Lacus, facilisis tristique lectus in.</p>
            <h4 id="gathering-of-personal-information">Gathering of Personal Information</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Purus, donec nunc eros, ullamcorper id feugiat quisque aliquam sagittis. Sem turpis sed viverra massa gravida pharetra. Non dui dolor potenti eu dignissim fusce. Ultrices amet, in curabitur a arcu a lectus morbi id. Iaculis erat sagittis in tortor cursus. Molestie urna eu tortor, erat scelerisque eget. Nunc hendrerit sed interdum lacus. Lorem quis viverra sed</p>
            <h4 id="protection-of--personal--information">Protection of  Personal- Information</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Purus, donec nunc eros, ullamcorper id feugiat quisque aliquam sagittis. Sem turpis sed viverra massa gravida pharetra. Non dui dolor potenti eu dignissim fusce. Ultrices amet, in curabitur a arcu a lectus morbi id. Iaculis erat sagittis in tortor cursus.</p>
            <p>Molestie urna eu tortor, erat scelerisque eget. Nunc hendrerit sed interdum lacus. Lorem quis viverra sed
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Purus, donec nunc eros, ullamcorper id feugiat</p>
            <h4 id="privacy-policy-changes">Privacy Policy Changes</h4>
            <ol>
                <li>Sll the Themefisher items are designed to be with the latest , We check all</li>
                <li>comments that threaten or harm the reputation of any person or organization</li>
                <li>personal information including, but  limited to, email addresses, telephone numbers</li>
                <li>Any Update come in The technology  Customer will get automatic  Notification.</li>
            </ol>
            </div>
        </div>
        </div>
    </div>
    </section>
{% endblock%}